
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 3rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

table {

  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 15px;
  text-align: center;
}

th {
  background-color: #333;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.modal {
  background: #e2dddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px #000000;
  min-width: 550px;
  position: fixed;
  left: 50%;
  padding: 30px;
  top: 40%;
  transform: translate(-50%, -50%);
}

.modalButton{
  background-color: #77a578; /* Cor de fundo verde */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px; /* Espaçamento superior para o botão */
  cursor: pointer;
  border-radius: 8px;
}
.bi-justify{
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  font-size: 24px; /* Tamanho do ícone */

  /* Outros estilos personalizados que você desejar */
}
