<div *ngIf="!modalVisivel">
  <h1>Lista de Produtos</h1>
  <div class="container">
    <div class="search-bar-table-container">
      <input
        type="text"
        [(ngModel)]="termoDePesquisa"
        (input)="buscarProdutos()"
      />
    </div>

    <table class="responsive-table">
      <thead>
        <tr>
          <th class="responsive-col">Nome do Produto</th>
          <th class="responsive-col">Preço</th>
          <th class="responsive-col">Estoque</th>
          <th class="responsive-col">Gerenciar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtosFiltrados">
          <td class="responsive-col">{{ produto.nome }}</td>
          <td class="responsive-col">R$ {{ produto.preco }}</td>
          <div class="icon-container">
            <i
              (click)="removerQuantidadeEstoque(produto)"
              class="bi bi-dash-circle"
            ></i>
            <td class="responsive-col">{{ produto.quantidade }}</td>
            <i
              (click)="adicionarQuantidadeEstoque(produto)"
              class="bi bi-plus-circle"
            ></i>
          </div>
          <td class="responsive-col">
            <div class="icon-container">
              <i
                class="bi bi-pencil-square bi-justify"
                (click)="alterarProduto(produto.id)"
              ></i>
              <i
                class="bi bi-trash-fill bi-justify"
                (click)="abrirModalExcluir(produto.id)"
              ></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal de Erro -->
<div *ngIf="modalVisivel" class="modal" id="errorModal">
  <div>
    <h2>Opa!</h2>
    <p>{{ mensagemErro }}</p>
    <button class="modalButton" (click)="fecharModal()">Ok</button>
  </div>
</div>

<div *ngIf="modalExcluirVisivel" class="modal" id="errorModal">
  <div>
    <h2>Opa!</h2>
    <p>{{ mensagemErro }}</p>
    <button id="modalConfirmou" class="modalButton" (click)="excluirProduto()">
      Sim
    </button>
    <button
      id="modalNaoConfirmou"
      class="modalButton modalButtonExcluir"
      (click)="fecharModalExcluir()"
    >
      Não
    </button>
  </div>
</div>
